In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-04-25 18:58:37,-46.6000,168.3333,50.81,64,100,24.74
1,1,Rantepao,ID,2022-04-25 18:58:37,-2.9701,119.8978,66.04,97,91,1.70
2,2,Atuona,PF,2022-04-25 18:58:38,-9.8000,-139.0333,78.12,79,26,15.68
3,3,Petrolina,BR,2022-04-25 18:58:39,-9.3986,-40.5008,93.25,38,20,13.80
4,4,Mataura,NZ,2022-04-25 18:58:10,-46.1927,168.8643,50.49,81,54,7.20
...,...,...,...,...,...,...,...,...,...,...
564,564,Zhuhai,CN,2022-04-25 19:16:18,22.2769,113.5678,81.86,94,40,6.91
565,565,Rio Verde De Mato Grosso,BR,2022-04-25 19:16:19,-18.9181,-54.8442,93.11,36,98,9.06
566,566,Yulara,AU,2022-04-25 19:12:48,-25.2406,130.9889,59.68,74,100,6.42
567,567,Coihaique,CL,2022-04-25 19:16:19,-45.5752,-72.0662,43.41,87,75,5.75
568,568,Half Moon Bay,US,2022-04-25 19:16:20,37.4636,-122.4286,76.91,65,0,5.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2022-04-25 18:58:38,-9.8000,-139.0333,78.12,79,26,15.68
5,5,Oistins,BB,2022-04-25 18:58:39,13.0667,-59.5333,75.29,100,75,16.11
14,14,Castro,BR,2022-04-25 18:58:05,-24.7911,-50.0119,76.62,54,0,3.96
16,16,Arraial Do Cabo,BR,2022-04-25 18:58:45,-22.9661,-42.0278,80.46,61,40,14.97
21,21,Nhulunbuy,AU,2022-04-25 18:54:00,-12.2333,136.7667,77.61,88,8,0.00
...,...,...,...,...,...,...,...,...,...,...
556,556,San Ramon,US,2022-04-25 19:12:05,37.7799,-121.9780,77.81,45,0,5.75
560,560,Kokopo,PG,2022-04-25 19:16:15,-4.3520,152.2633,76.98,84,100,3.56
561,561,Paracuru,BR,2022-04-25 19:16:16,-3.4100,-39.0306,83.10,84,16,10.25
564,564,Zhuhai,CN,2022-04-25 19:16:18,22.2769,113.5678,81.86,94,40,6.91
568,568,Half Moon Bay,US,2022-04-25 19:16:20,37.4636,-122.4286,76.91,65,0,5.75

In [23]:
preferred_cities_df.count()

City_ID       203
City          203
Country       203
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2            Atuona      PF     78.12  -9.8000 -139.0333
5           Oistins      BB     75.29  13.0667  -59.5333
14           Castro      BR     76.62 -24.7911  -50.0119
16  Arraial Do Cabo      BR     80.46 -22.9661  -42.0278
21        Nhulunbuy      AU     77.61 -12.2333  136.7667
22       Coahuayana      MX     88.57  18.7333 -103.6833
24            Nioki      CD     78.15  -2.7167   17.6833
31          Rikitea      PF     76.87 -23.1203 -134.9692
33    Makakilo City      US     77.02  21.3469 -158.0858
36          Samarai      PG     82.58 -10.6167  150.6667

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,78.12,-9.8000,-139.0333,Villa Enata
5,Oistins,BB,75.29,13.0667,-59.5333,Butterfly Beach Hotel
14,Castro,BR,76.62,-24.7911,-50.0119,CHACARA BAILLY
16,Arraial Do Cabo,BR,80.46,-22.9661,-42.0278,Pousada Porto Praia
21,Nhulunbuy,AU,77.61,-12.2333,136.7667,East Arnhem Real Estate
22,Coahuayana,MX,88.57,18.7333,-103.6833,El rranchito michuacan de ocampos
24,Nioki,CD,78.15,-2.7167,17.6833,
31,Rikitea,PF,76.87,-23.1203,-134.9692,People ThankYou
33,Makakilo City,US,77.02,21.3469,-158.0858,Marriott's Ko Olina Beach Club
36,Samarai,PG,82.58,-10.6167,150.6667,Nuli Sapi

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]